@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background: #e2e8f0;
}
nav {
    color: #fff;
    font-weight: bold;
};

button {
    color: #fff;
    font-weight: bold;
};

label {
    font-weight: bold;
    font-size: 100px;
};


